@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.App {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #DBA39A;
  display: grid;
  place-content: center;
}
